@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* root variables */
:root {
    --blue: #0070A0;
    --yellow: #FAEA73;
    --lightblue: #CCEFF6;
    --lightpink: #F7CEDC;
    --text-color: #1F1F1F;
    --border-color: #C2CDD8;
    --lightgray: #626A72;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--text-color);
}

.btn {
    font-family: Inter;
    font-size: 17px;
    width: 174px;
    height: 43px;
    background: var(--blue);

    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/* header */

.header ul {
    list-style: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family: Inter;
    color: var(--text-color);
}

.header img {
    display: flex;
    height: 37px;
    align-self: center;
}

.header_list {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.header_btn_wrp {
    display: flex;
    gap: 15px;
}

.btn.signin {
    color: var(--blue);
    background: none;

    width: 89px;
    height: 35px;
    font-size: 15px;
}

.btn.header {
    height: 36px;
    width: 139px;
    font-size: 15px;
}

/* Hero */

.hero {
    padding-top: 70px;
}

.hero .container {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
}

.hero_title {
    font-family: Fraunces;
    font-size: 58px;
    font-weight: 400;
    width: 485px;
}

.hero_desc {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 340px;
    border: 1px solid;
    letter-spacing: 0.2px;
    padding: 5px 28px 0px 0px;
}

.hero_btn_wrp {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.btn.hero_more {
    width: 110px;
    color: var(--blue);
    background: none;
}

.btn.hero_more::after {
   content: url("assets/icons/arrow-left.png");
   display: flex;
   justify-content: center;
   margin-left: 5px;
   height: 21px;
}

/* Trusted */

.trusted {
    padding-top: 40px;
}

.trusted .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trusted_list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 85px;
}

/* Advatages */

.advantages {
    padding-top: 160px;
}

.advantages_cards {
    display: flex;
    justify-content: space-around ; 
    flex-flow: row wrap;
}

.advantage_card {
    width: 300px;
    height: 200px;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
}

.advantage_img {
   margin-top: 15px;
   margin-bottom: 0;
   height: 55px;
   width: 55px;
}

.advantage_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.2px;
    margin: 8px 0 11px;
}

.advantage_desc {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.2px;
    width: 287px;
}

.advantages_cards .card1 {
    background: var(--yellow);
}

.advantages_cards .card2 {
    background: var(--lightblue);
}

.advantages_cards .card3 {
    background: var(--lightpink);
}

/* Take care */

.takeCare {
    margin-top: 200px;
}

.takeCare .container {
    display: flex;
    flex-direction: column;
}

.takeCare_content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.takeCare_list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.takeCare_list_item {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 17px 0;
}

.takeCare_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 0.2px;
    width: 650px;
    margin: 0;
}

.takeCare_list_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 21px;
    width: 450px;
    display: flex;
    align-items: center;
    margin: 0;
}
/* before and after icons in list */

.--first::before {
    content: url('./assets/icons/icon10.png');
    margin-right: 16px;
}

.--first::after {
    content: url('assets/icons/arrow-buttom.png');
    margin-left: 170px;
    align-self: start;
}

.--second::before {
    content: url('./assets/icons/icon11.png');
    margin-right: 16px;
}

.--second::after {
    content: url('assets/icons/arrow-buttom.png');
    margin-left: 170px;
    align-self: start;
}

.--third::before {
    content: url('./assets/icons/icon12.png');
    margin-right: 16px;
}

.--third::after {
    content: url('assets/icons/arrow-buttom.png');
    margin-left: 170px;
    align-self: start;
}

.--fourth::before {
    content: url('./assets/icons/icon13.png');
    margin-right: 16px;
}

.--fourth::after {
    content: url('assets/icons/arrow-buttom.png');
    margin-left: 170px;
    align-self: start;
}

.takeCare_desc {
    width: 350px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    margin: 0 0 0 50px;
}

/* About */

.about {
    margin-top: 120px;
}

.about .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_title {
    font-family: Fraunces; 
    font-size: 42px;
    letter-spacing: 0.2px;
    font-weight: 400;
}

.about_list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}


.about_list_title {
    margin: 0;
}

.daily::before {
    content: url('assets/icons/icon4.png');
}

.save::before {
    content: url('assets/icons/icon5.png');
}

.all-in-one {
    margin-top: 60px;
}

.about_list_desc {
    width: 233px;    
    margin: 0;
}

/* "set" section */

.set {
    box-sizing: border-box;
    height: 85vh;
    margin-top: 200px;
    background: var(--blue);
    display: flex;
    align-items: center;
}

.set_content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.set_list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.set .btn {
    margin-top: 16px;
}

.set_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 0.2px;
    width: 403px;
    margin: 0;
    color: #fff;
}

.set_subtitle {
   font-family: Inter;
   font-weight: 400;
   font-size: 18px;
   letter-spacing: 0.2px;
   width: 481px;
   color: #fff;
}

.set_list_title::before {
    content: url('assets/icons/check.png');
    margin-right: 5px;
}

.set_list_title {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    margin: 2px;
    color: #fff;
}

/* Automated */

.automated {
    margin-top: 120px;
}

.automated_desc {
    margin-top: 11px;
}

.automated_title {
    margin: 0;
    font-family: Fraunces;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.automated_subtitle {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2px;
    margin-bottom: 65px;
    width: 45%;
}

.automated_card_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.2px;
}

.automated_desc {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.automated_txt_wrp {
    margin-top: 11px;
}

.automated_cards {
   display: flex;
   flex-flow: row;
}

/* blog */

.blog {
    margin-top: 150px;
}

.blog .container {
}

.blog_card_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.2px;
    width: 293px;
}

.blog_card_subtitle {
    display: flex; 
    align-self: start;
    margin-left: 30px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: center;
    color: var(--blue);
}

.blog_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 0.2px;
}

.blog_desc {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    width: 304px;
    letter-spacing: 0.2px;
}

.blog_date {
    display: flex;
    align-self: start;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
}

.blog_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 355px;
}

.blog_txt_wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog_top_wrp {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.blog_cards {
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
}

.blog .btn {
    background: none;
    color: var(--blue);
}

/* get started */

.get_started {
    margin-top: 160px;
}

.get_started .container {
    display: flex;
    flex-direction: column;
}

.get_started .btn {
    margin-top: 36px;
}

.get_started_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 0.2px;
}

.get_started_desc {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2px;
    width: 481px;
}

.get_started_bottom_wrp {
    display: flex;
    gap: 32px;
}

.get_started_adv {
    font-family: Inter;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: var(--lightgray);
}

.get_started_adv::before {
    content: url('assets/icons/check.png');
    display: inline-flex;
}

/* footer */

.footer {
    margin-top: 200px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 121px;
}

.footer_logo_wrp {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: Inter;
}

.top_txt_wrp p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.2px;
}

.top_txt_wrp a {
    font-family: Inter;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: var(--blue);
}

.footer_logo_img {
    width: 40px;
    height: 45px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer_list {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.footer_list_item {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: var(--lightgray);
}

.newsletter_title {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.newsletter_desc {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    width: 200px;
}

.newsletter_input {
    display: flex;
    align-items: center;    
}

.newsletter_input input {
    width: 216px;
    height: 44px;
}

.newsletter input::after {
    content: url('assets/icons/arrow-left.png');
}

/* media */

@media (max-width: 1270px) {
    .hero .container {
        justify-content: center;     
        flex-wrap: wrap;
    }

    .automated_cards {
        flex-flow: row wrap;
    }

    .takeCare_content {
        flex-flow: column-reverse wrap;
        justify-content: center; 
    }

    .about .container {
       flex-direction: column; 
       align-items: center;
    }

    .set_content {
        flex-flow: column-reverse wrap;
    }
}


@media (max-width: 950px) {

    .header .container {
        width: 100%;
        align-items: center;
    }



    .header_btn_wrp {
       flex-flow: column-reverse wrap;
    }

    .btn .signin {
        justify-self: center;
    }
}

@media (max-width: 800px) {
    .footer .container {
       width: 100%; 
    }

    .footer_top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "logo input"
                             "list list";
        margin-left: auto;
        margin-right: auto;
    }

    .footer_list:nth-child(1) {
        grid-column: 1; grid-row: 1;
    }

    .footer_list:nth-child(2) {
        grid-column: 2; grid-row: 2;
    }

    .footer_logo {
        grid-area: logo;
    }

    .footer_list {
        grid-area: list;
    }

    .newsletter {
        grid-area: input;
    }

    .trusted_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "left right";
    }

    .tursted_company_logo:nth-clild(1,2) {
        grid-area: left;
    }

    .trusetd_company_logo:nth-child(3,4) {
        grid-area: right;
    }
    
    .about_list {
        flex-direction: column;
    }

    .takeCare .container  {
        width: 100%; 
    }

    .takeCare_title {
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 600px) {
   
    .header h2 {
        display: none;
    }

    .set_subtitle {
        width: 45vh;
    }

    .get_started_desc {
        width: 45vh;
    }

    .takeCare_title {
       width: 100%;
   } 

   .set {
    height: 85vh;
   }
}

@media (max-width: 500px) {
    .header_list {
        padding-left: 10px;
    }

    .header_btn_wrp .header {
        display: none;
    }

    .automated_subtitle {
       width: 80%; 
    }

    .footer_bottom {
        flex-direction: column-reverse;        
    }

    .blog_top_wrp {
        flex-direction: column;    
    }
    
    .hero_text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hero .container {
        flex-flow: column wrap;
        align-items: center;
    }

    .hero_title {
        width: 90%;
    }

    .container {
        width: 100%;
    }
    
    .trusted_list {
       margin-left: auto;
       margin-right: auto;
    }
}

@media (max-width: 400px) {
   
    .takeCare_img_wrp {
        display: none;
    }

    .set_img_wrp {
        display: none;
    }

    .hero_desc {
        padding: 0;
    }
}
