@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* root variables */
:root {
    --blue: #0070A0;
    --yellow: #FAEA73;
    --lightblue: #CCEFF6;
    --lightpink: #F7CEDC;
    --text-color: #1F1F1F;
    --border-color: #C2CDD8;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--text-color);
}

.btn {
    font-family: Inter;
    font-size: 17px;
    width: 174px;
    height: 43px;
    background: var(--blue);

    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.container {
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
}

/* header */

.header ul {
    list-style: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family: Inter;
    color: var(--text-color);
}

.header img {
    display: flex;
    height: 37px;
    align-self: center;
}

.header_list {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.header_btn_wrp {
    display: flex;
    gap: 15px;
}

.btn.signin {
    color: var(--blue);
    background: none;

    width: 89px;
    height: 35px;
    border: 1px solid;
    font-size: 15px;
}

.btn.header {
    height: 36px;
    width: 139px;
    font-size: 15px;
}

/* Hero */

.hero {
    padding-top: 70px;
}

.hero .container {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
}

.hero_title {
    font-family: Fraunces;
    font-size: 58px;
    font-weight: 400;
    width: 485px;
}

.hero_desc {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 340px;
    border: 1px solid;
    letter-spacing: 0.2px;
    padding: 5px 28px 0px 0px;
}

.hero_btn_wrp {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.btn.hero_more {
    width: 110px;
    color: var(--blue);
    background: none;
}

.btn.hero_more::after {
   content: url("assets/icons/arrow-left.png");
   display: flex;
   justify-content: center;
   margin-left: 5px;
   height: 21px;
}

/* Trusted */

.trusted {
    padding-top: 40px;
}

.trusted .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trusted_list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 85px;
}

/* Advatages */

.advantages {
    padding-top: 160px;
}

.advantages .container {
    box-sizing: border-box;
}

.advantages_cards {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.advantage_card {
    width: 300px;
    height: 200px;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
}

.advantage_img {
   margin-top: 15px;
   margin-bottom: 0;
   height: 55px;
   width: 55px;
}

.advantage_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.2px;
    margin: 8px 0 11px;
}

.advantage_desc {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.2px;
    width: 287px;
}

.advantages_cards .card1 {
    background: var(--yellow);
}

.advantages_cards .card2 {
    background: var(--lightblue);
}

.advantages_cards .card3 {
    background: var(--lightpink);
}

/* Take care */

.takeCare {
    margin-top: 200px;
}

.takeCare .container {
    display: flex;
    flex-direction: column;
}

.takeCare_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.takeCare_list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.takeCare_list_item {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 17px 0;
}

.takeCare_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 0.2px;
    width: 650px;
    margin: 0;
}

.takeCare_list_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 21px;
    width: 450px;
    display: flex;
    align-items: center;
    margin: 0;
}
/* before and after icons in list */

.--first::before {
    content: url('./assets/icons/icon10.png');
    margin-right: 16px;
}

.--first::after {
    content: url('assets/icons/arrow-buttom.png');
    margin-left: 170px;
    align-self: start;
}

.--second::before {
    content: url('./assets/icons/icon11.png');
    margin-right: 16px;
}

.--second::after {
    content: url('assets/icons/arrow-buttom.png');
    margin-left: 170px;
    align-self: start;
}

.--third::before {
    content: url('./assets/icons/icon12.png');
    margin-right: 16px;
}

.--third::after {
    content: url('assets/icons/arrow-buttom.png');
    margin-left: 170px;
    align-self: start;
}

.--fourth::before {
    content: url('./assets/icons/icon13.png');
    margin-right: 16px;
}

.--fourth::after {
    content: url('assets/icons/arrow-buttom.png');
    margin-left: 170px;
    align-self: start;
}

.takeCare_desc {
    width: 350px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    margin: 0 0 0 50px;
}

/* About */

.about {
    margin-top: 120px;
}

.about .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_title {
    font-family: Fraunces; 
    font-size: 42px;
    letter-spacing: 0.2px;
    font-weight: 400;
}

.about_list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.about_list_title {
    margin: 0;
}

.daily::before {
    content: url('assets/icons/icon4.png');
}

.save::before {
    content: url('assets/icons/icon5.png');
}

.all-in-one {
    margin-top: 60px;
}

.about_list_desc {
    width: 233px;    
    margin: 0;
}

/* "set" section */

.set {
    height: 550px;
    margin-top: 200px;
    background: var(--blue);
    display: flex;
    align-items: center;
}

.set .container {
    display: flex;
    flex-direction: column; 
}

.set_content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.set_list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.set .btn {
    margin-top: 16px;
}

.set_title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 0.2px;
    width: 403px;
    margin: 0;
    color: #fff;
}

.set_subtitle {
   font-family: Inter;
   font-weight: 400;
   font-size: 18px;
   letter-spacing: 0.2px;
   width: 481px;
   color: #fff;
}

.set_list_title::before {
    content: url('assets/icons/check.png');
    margin-right: 5px;
}

.set_list_title {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    margin: 2px;
    color: #fff;
}
